<div id="main_container">
  <div id="middle_box">
    <div class="middle_box_content"></div>
  </div>

<div id="middle_box_content">
  <h1>Password Reset Request</h1>
<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
    
	
	    <p>Enter your email address that we have on our file and click send. We will send you a
		   password reset link email to your email address.</p>
        <p>
            <label for="user_email" >Email Address:</label>
            <%= form.text_field :email, :size => 35, :class => 'text' %>
        </p>
        <%= submit_tag 'Send',:class=>"form_submit" %>
    
<% end %>
</div>
</div>